@page
@model TrabajoWebAhoraSi.Pages.RegistroEmpleado.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>

<form>
    <p>
        <select asp-for="ApellidoEmpleado" asp-items="Model.Empleado">
            <option value="">All</option>
        </select>
      Apellido del Empleado: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].FechaDeContratacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeContratacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmpleadoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmpleadoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmpleadoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
