@page
@model TrabajoWebAhoraSi.Pages.RegistroCargo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Registro de Empleado</h1>
</div>

<<<<<<< HEAD
<div>

    <p>
        <a asp-page="Create">
            <img src="~/img/xd.png.png" alt="Texto Alternativo de la Imagen" width="100" height="100">
        </a>
    </p>

</div>
<table class="table table-bordered table-striped">
=======
<p>
    <a asp-page="Create">Create New</a>
</p

<form>
    <p>
        <select asp-for="NombreCargo" asp-items="Model.Nombre">
            <option value="">All</option>
        </select>
        Nombre del Cargo: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
>>>>>>> 157ce21d8a553e23cb5453687196482778ec5d59
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo[0].Nombre_de_Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo[0].Tipo_de_Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo[0].Sueldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cargo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_de_Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_de_Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo.SueldoID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CargoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CargoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CargoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
